# file: postgresql/tasks/databases.yml

- name: Databases | Ensure supporting software is installed
  package:
    name: "{{ item }}"
  with_items:
    - python-pip

- name: Databases | Ensire supporting python is installed
  pip:
    name: "{{ item }}"
  with_items:
    - psycopg2

- name: Databases | Ensure PostgreSQL is running
  service:
    name: "{{ [ansible_os_family]|map('extract', {'Debian': 'postgresql', 'RedHat': ['postgresql', postgresql_version] | join('-')})|list|first }}"
    state: started

- name: Databases | Make sure the PostgreSQL databases are present
  postgresql_db:
    name: "{{item.name}}"
    encoding: "{{postgresql_encoding}}"
    lc_collate: "{{postgresql_locale}}"
    lc_ctype: "{{postgresql_locale}}"
    template: "template0"
    state: present
  with_items: "{{ postgresql_databases }}"
  when: postgresql_databases|length > 0

- name: Databases | Add extensions to the databases with the requirement
  become: yes
  become_user: "{{postgresql_admin_user}}"
  shell: "psql {{item.0.name}} -c 'CREATE EXTENSION IF NOT EXISTS {{ item.1 }};'"
  with_subelements:
    - "{{ postgresql_databases }}"
    - extensions
