---
- name: PostgreSQL | Ensure postgreSQL rpm is installed
  yum:
    name: http://yum.postgresql.org/9.3/redhat/rhel-6-x86_64/pgdg-centos93-9.3-1.noarch.rpm
    state: present
  sudo: yes

- name: PostgreSQL | Ensure postgreSQL is installed
  yum:
    name: postgresql93-server
    state: present
  sudo: yes
