# file: postgresql/handlers/main.yml

- name: restart postgresql
  service:
    name: "{{ [ansible_os_family]|map('extract', {'Debian': 'postgresql', 'RedHat': ['postgresql', postgresql_version] | join('-')})|list|first }}"
    state: restarted
